<div>
    <h1 class="text-center">
        Jewe na {{ user.name }}
    </h1>

    <table class="table table-dark listWidth mx-auto">
        <tbody>
            <tr>
                <th scope="row">Ingurane</th>
                <td>{{ user.debt }}</td>
            </tr>
            <tr>
                <th scope="row">Inyungu izosubizwa</th>
                <td>{{ user.interest }}</td>
            </tr>
            <tr>
                <th scope="row">Ayasubijwe</th>
                <td>{{ user.payedDebtAmount }}</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <h5 class="text-center">
        Uko yasubijwe
    </h5>

    <table class="table table-dark listWidth mx-auto">
        <thead>
            <tr>
                <th scope="col">Ayarishwe</th>
                <th scope="col">Itariki</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payedDebt of user.payedDebtHistory">
                <th scope="row">{{ payedDebt.amount }}</th>
                <td>{{ payedDebt.paymentDate | date:'dd/MM/yyyy' }}</td>
            </tr>
    </table>

</div>