<div>
    <h1 class="text-center">
        Jewe na Butoyi
    </h1>

    <table class="table table-dark listWidth mx-auto">
        <tbody>
            <tr>
                <th scope="row">Ingurane</th>
                <td>2000000</td>
            </tr>
            <tr>
                <th scope="row">Inyungu nzosubiza</th>
                <td>0</td>
            </tr>
            <tr>
                <th scope="row">Ayasubijwe</th>
                <td>30000</td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <h5 class="text-center">
        Uko yasubijwe
    </h5>

    <table class="table table-dark listWidth mx-auto">
        <thead>
            <tr>
                <th scope="col">Ayarishwe</th>
                <th scope="col">Itariki</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">10000</th>
                <td>12/02/2020</td>
            </tr>
            <tr>
                <th scope="row">10000</th>
                <td>12/03/2020</td>

            </tr>
            <tr>
                <th scope="row">10000</th>
                <td>12/04/2020</td>
            </tr>
        </tbody>
    </table>

</div>